/* 
CONVENTION

LAYOUT
width: ;
height: ;

display: ;
flex-direction: ;
justify-content: ;
align-items: ;
gap: ;
margin: ;
padding: ;
position: ;
etc...

STYLE
background: ;
color: ;
font-size: ;
border: ;
etc...

*/

/* @font-face {
  font-family: "Inter";
  src: url("../src/fonts/Inter/@font-face/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-family: Inter;
} */

/* PSUEDO STYLING */
::-webkit-scrollbar {
  display: none;
}

/* DEFAULT STYLING FOR ALL ITEMS */

.logo {
  font-weight: 700;
  user-select: none;
}

.container {
  overflow-y: scroll;
  height: 100vh;
}

button {
  cursor: pointer;
  user-select: none;
}

.loading {
  height: 100%;
  width: auto;
}

.hidden {
  display: none;
}

/* DEFAULT STYLING ENDS */

/* GLOBAL STYLING START */

.roundedGradientBorder {
  border: double 1.5px transparent;
  border-radius: 100px;
  background-image: linear-gradient(#161616, #161616),
    linear-gradient(90deg, #5271ea 0%, #c0eaff 50%, #d977cc 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  display: flex;

  width: fit-content;
  align-items: center;
  justify-content: center;
}

.gradientText1 {
  background: linear-gradient(90deg, #5271ea 0%, #c0eaff 50%, #d977cc 100%),
    #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: inherit;
  font-weight: inherit;
}

/* GLOBAL STYLING ENDS */

/* BODY STYLING STARTS */

.body {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;

  background: url(../../imgs/noise.png),
    radial-gradient(50% 50% at 50% 50%, #161616 0%, #111111 100%);
  background-blend-mode: screen, normal;
}

.button1,
.signInButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 8px 24px;

  background: #27272725;
  border-radius: 100px;
  box-shadow: 0px 2px 25px rgba(212, 146, 216, 0.5);
}

.button1:hover,
.signInButton:hover {
  background: #272727;
}

.button1 *,
.signInButton * {
  font-weight: 700;
}

.signInButton {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.signInMenu * {
  align-self: center;
}

.featureGallery {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  align-items: center;
}

@media screen and (min-width: 641px) {
  .memoriaName {
    font-size: 64pt;
    font-weight: 700;
  }

  .memoriaTagline {
    font-size: 24pt;
    -webkit-text-fill-color: white;

    font-weight: 600;
    max-width: 95%;
  }

  input {
    width: 450px;
  }

  .headlineButton {
    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px;

    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);

    border-radius: 30px;

    user-select: none;
  }

  .authNav {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 128px;
  }

  .navButton1 {
    background: rgba(255, 255, 255, 0.05);
    padding: 8px 24px;
    border-radius: 16px;
    opacity: 0.5;
    letter-spacing: -0.04em;
  }

  .navButton1:hover {
    background: rgba(255, 255, 255, 0.1);
    padding: 8px 24px;
    border-radius: 16px;
    opacity: 1;
    letter-spacing: -0.04em;
  }

  .webNavItems {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .inner {
    height: fit-content;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
  }

  .headline {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    gap: 0.5rem;
    /* border: solid 1px blue !important; */
  }

  .signInMenu {
    min-width: calc(480px - 2rem);
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    justify-content: center;
  }

  .preview {
    width: 65%;

    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 2rem;
    align-items: center;
  }

  .preview p {
    color: #272727;
    font-size: 16pt;
    align-self: center;
  }

  .carousel {
    overflow: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
    padding-top: 1rem;
  }

  .carouselWrapper {
    width: calc(100% - 3rem);
    border: 2px solid #272727;
    border-radius: 20px;
    background: linear-gradient(180deg, #111111 0%, #11111100 100%);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.05);
    margin: 1rem;
  }

  .carouselInner {
    white-space: nowrap;
    transition: transform 0.3s;
  }

  .carouselItem {
    display: inline-flex;
    margin: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .carouselItemText {
    font-size: 20pt;
  }

  .carouselImg {
    filter: none;
    width: 100%;
    height: auto;
  }

  .carouselButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .demoVid {
    border-radius: 2rem;
    border: 10px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.05);
  }

  .gallery {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 450px);
    grid-gap: 1.5rem;
    align-items: center;
    justify-content: center;
  }

  .gallery img {
    height: auto;
    width: 100%;
    border: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    filter: none;
    user-select: none;
  }
}

@media screen and (max-width: 640px) {
  input {
    width: 300px;
  }

  .authNav {
    display: none;
  }

  .inner {
    height: fit-content;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 5rem 0 0;
  }

  .headline {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    /* border: solid 1px blue !important; */
  }

  .headlineButton {
    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px;

    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.04);

    border-radius: 30px;

    user-select: none;
  }

  .memoriaName {
    font-size: 48pt;
  }

  .memoriaTagline {
    font-size: 14pt !important;
    -webkit-text-fill-color: white !important;

    font-weight: 600;
  }

  .signInMenu {
    max-width: calc(100vw - 2rem);
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    justify-content: center;
  }

  .demoVid {
    width: 90vw;
    height: calc(90vw * 0.6);
    border-radius: 1rem;

    border: 5px solid rgba(255, 255, 255, 0.15);
  }

  .gallery {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100%);
    grid-gap: 0.5rem;
    align-items: center;
    justify-content: center;
    user-select: none;
  }

  .gallery img {
    height: auto;
    width: 100%;
    border: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    filter: none;
  }

  .carousel {
    overflow: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 1rem;
  }

  .carouselWrapper {
    width: 100%;
    border: 2px solid #272727;
    border-radius: 20px;
    background: linear-gradient(180deg, #111111 0%, #11111100 100%);
  }

  .carouselInner {
    white-space: nowrap;
    transition: transform 0.3s;
  }

  .carouselItem {
    display: inline-flex;
    gap: 0.5rem;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .carouselImg {
    filter: none;
    width: 100%;
    height: auto;
  }

  .carouselButtons {
    display: none;
  }

  .navButton1 {
    background: rgba(255, 255, 255, 0.05);
    padding: 8px 24px;
    border-radius: 16px;
    opacity: 0.5;
    letter-spacing: -0.04em;
    user-select: none;
  }

  .navButton1:hover {
    background: rgba(255, 255, 255, 0.1);
    padding: 8px 24px;
    border-radius: 16px;
    opacity: 1;
    letter-spacing: -0.04em;
    user-select: none;
  }

  .webNavItems {
    display: none;
  }
}

input {
  padding: 12px 16px;
  border-radius: 30px;
  color: #ffffff;
  box-sizing: border-box;
  outline: none;

  caret-color: #ffffff80;
}

input::placeholder {
  color: #272727;
}
/* 
img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 25px;

  border: 1px solid #272727;
  border-radius: 30px;

  box-shadow: 0px 0px 10px #161616, 0px 0px 25px rgba(255, 255, 255, 0.05);
} */

.footer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  gap: 1rem;
}

.footer p {
  color: #272727;
  text-align: center;
}
