/* 
CONVENTION

LAYOUT
width: ;
height: ;

display: ;
flex-direction: ;
justify-content: ;
align-items: ;
gap: ;
margin: ;
padding: ;
position: ;
etc...

STYLE
background: ;
color: ;
font-size: ;
border: ;
etc...

*/

@font-face { font-family: "Inter";
  src:  url("../fonts/Inter/@font-face/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
  font-family: Inter;
}

/* PSUEDO STYLING */
::-webkit-scrollbar {
    display: none;
}

/* DEFAULT STYLING FOR ALL ITEMS */
html {
  min-height: 100%;
  height: fit-content;
  width: 100vw;

  background: radial-gradient(100% 563.74% at 0% 100%, #111111 0%, #161616 100%), #FFFFFF;
}

button {
  cursor: pointer;
}

.hidden {
  display: none !important;
  height: 0 !important;
}

img {
  box-shadow: none;
  border: none;
  border-radius: 0;
  height: 100px;
  filter: saturate(0) brightness(100);
}

/* DEFAULT STYLING ENDS */

/* GLOBAL STYLING START */

/* GLOBAL STYLING ENDS */

/* BODY STYLING STARTS */

.button1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 8px 24px;

  background: #27272725;
  border-radius: 100px;
}

.button1:hover {
  background: #272727;
}

.button1 * {
  font-weight: 700;
}

.button2 {
  width: 50%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 16px 32px;

  background: #27272725;
  /* box-shadow: 0px 0px 10px #161616; */
  border-radius: 20px;
  border: 2px solid #272727;
}

.micButton, .micButtonActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  width: 200px;
  height: 200px;

  border-radius: 100px;
}

.micButton {
  border: 5px solid #272727;
  background: rgba(39, 39, 39, 0.25);
  box-shadow: 0px 0px 10px #161616, 0px 0px 50px rgba(255, 255, 255, 0.1);
}

.micButton:active, .micButtonActive:active {
  transform: scale(1.03);
}

.micButtonActive {
  background: rgba(39, 39, 39, 0.25);
  border: double 3px transparent;
  background-image: linear-gradient(#161616,#161616), linear-gradient(-45deg, #5271EA 0%, #C0EAFF 50%, #D977CC 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  
  box-shadow: 0px 0px 10px #161616, 0px 0px 50px rgba(217, 119, 204, 0.25), 0px 0px 50px rgba(255, 255, 255, 0.1);
}

.tag {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 8px 16px;

  border-radius: 100px;
  border: 1px solid #272727;
}

.timer {
  display: flex;
  position: absolute;
  top: 150px;

  color: #ffffff;
}

.loading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.titleDesc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.description {
  color: #272727;
  text-align: center;
}

.micContainer {
  width: fit-content;
  height: fit-content;
}

@media screen and (min-width: 1101px) {
  .body {
    height: 100%;
    width: 100vw;
    
    padding: 3rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .headline {
    width: 70%;
    padding-bottom: 2%;
  }

  .thoughtCard {
    height: fit-content;
    width: 700px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #161616;
    border: 1px solid #272727;
    border-radius: 25px;
    padding: 1rem;
    gap: 1rem;
  }

  .thoughtActionFields {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 90%;
    max-width: 800px;
    justify-content: center;
    align-items: center;
  }

  .thoughtActionMenu {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .thoughtActionMenu .roundedGradientBorder {
    border: double 1.5px transparent;
    border-radius: 20px;
    background-image: linear-gradient(#161616,#161616), linear-gradient(90deg, #5271EA 0%, #C0EAFF 50%, #D977CC 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  .thoughtActionButton1, .thoughtActionButton2 {
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 16px 32px;
  
    background: #27272725;
    /* box-shadow: 0px 0px 10px #161616; */
    border-radius: 20px;
    border: 2px solid #272727;
  }

  .thoughtActionButton2 {
    width: 100%;
  }
    
  .thoughtTitle {
    width: 100%;
  
    /* border: 1px solid red !important; */
    border: none;
    outline: none;
    background: none;
    box-sizing: border-box;
    background: linear-gradient(90deg, #5271EA 0%, #C0EAFF 50%, #D977CC 100%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 20pt;
    line-height: 1em;
    text-align: center;
  }

  .thoughtTitle::placeholder {
    color: #272727;
  }

  .transcript{
    width: 100%;
    height: 15rem;

    padding: 12px 16px;
    
    border-radius: 1rem;
    outline: none;
    border: 1px solid #272727;
    background: none;

    color: white;
    text-align: left;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    resize: none;
    font-weight: 550;
  }

  .transcript::placeholder {
    color: #272727;
  }

  .tagList {
    display: flex;
    flex-direction: row;
    grid-gap: 0.5rem;
    width: 100%;
    align-items: center;
    padding-left: 0.5rem;
    color: #272727;
  }

  .confirmationPopup {
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);

    background: rgba(255, 255, 255, 0.05);
    padding: 16px 24px;
    border-radius: 16px;
    opacity: 0.5;
    letter-spacing: -0.04em;
  }

  .confirmationPopup:hover {
    background: rgba(255, 255, 255, 0.10);
    padding: 16px 24px;
    border-radius: 16px;
    opacity: 1;
    letter-spacing: -0.04em;
  }
}

@media screen and (max-width: 1100px) {
  .body {
    width: 100vw;
    height: calc(100% - 8rem);
    
    padding: 1rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    overflow: scroll;
    margin-bottom: env(safe-area-inset-bottom) !important;
  }

  .headline {
    width: 100%;
    padding-bottom: 0.5rem;
  }

  .thoughtCard {
    height: fit-content;
    width: 90%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background: #161616;
    border: 1px solid #272727;
    border-radius: 25px;
    padding: 1rem;
    gap: 1rem;

    box-shadow: 0px 0px 10px #161616, 0px 0px 50px rgba(255, 255, 255, 0.1);
    ;
  }

  .thoughtActionFields {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 90%;
    max-width: 800px;
    justify-content: center;
    align-items: center;
  }

  .thoughtActionMenu {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .thoughtActionMenu .roundedGradientBorder {
    border: double 1.5px transparent;
    border-radius: 20px;
    background-image: linear-gradient(#161616,#161616), linear-gradient(90deg, #5271EA 0%, #C0EAFF 50%, #D977CC 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  .thoughtActionButton1, .thoughtActionButton2 {
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 16px 32px;
  
    background: #27272725;
    /* box-shadow: 0px 0px 10px #161616; */
    border-radius: 20px;
    border: 2px solid #272727;
  }

  .thoughtActionButton2 {
    width: 100%;
  }
    
  .thoughtTitle {
    width: 100%;
    height: 28px;
  
    /* border: 1px solid red !important; */
    border: none;
    outline: none;
    background: none;
    box-sizing: border-box;
    background: linear-gradient(90deg, #5271EA 0%, #C0EAFF 50%, #D977CC 100%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 16pt;
    line-height: 1em;
    text-align: center;
  }

  .thoughtTitle::placeholder {
    color: #272727;
  }

  .transcript{
    width: 100%;
    height: 10rem;

    padding: 12px 16px;
    
    border-radius: 1rem;
    outline: none;
    border: 1px solid #272727;
    background: none;

    color: white;
    text-align: left;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    resize: none;
    font-size: 11pt;
    font-weight: 550;
  }

  .transcript::placeholder {
    color: #272727;
  }

  .tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
    align-items: center;
    padding-left: 0.5rem;
    color: #272727;
  }

  .confirmationPopup {
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);

    background: rgba(255, 255, 255, 0.05);
    padding: 8px 16px;
    border-radius: 16px;
    opacity: 1;
    letter-spacing: -0.04em;
  }

  .confirmationPopup:hover {
    background: rgba(255, 255, 255, 0.10);
    padding: 8px 16px;
    border-radius: 16px;
    opacity: 0.5;
    letter-spacing: -0.04em;
  }
}

.footer p {
  color: #272727;
  text-align: center;
}