/* @font-face { font-family: "Inter";
  src:  url("./fonts/Inter/@font-face/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
  font-family: "Inter", Helvetica, sans-serif;
} */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  /* border: 0.1px solid rgba(255, 0, 0, 0.25) !important; */
  /* border: none; */
  background: none;
  color: white;
  font-family: "Inter", Helvetica, sans-serif;
  font-weight: 550;
  text-decoration: none;
}

html {
  min-height: 100%;
  height: fit-content;
  width: 100vw;

  background: radial-gradient(100% 563.74% at 0% 100%, #111111 0%, #161616 100%),
    #ffffff;
}

.inherit-all {
  all: inherit;
}

.noise-gradient-background {
  background: url(./imgs/noise.png),
    radial-gradient(50% 50% at 50% 50%, #161616 0%, #111111 100%);
  background-blend-mode: screen, normal;
}

.roundedGradientBorder {
  border: double 1.5px transparent;
  border-radius: 20px;
  background-image: linear-gradient(#161616, #161616),
    linear-gradient(90deg, #5271ea 0%, #c0eaff 50%, #d977cc 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  display: flex;

  width: fit-content;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gradientText1,
h1,
h2,
h3 {
  background: linear-gradient(90deg, #5271ea 0%, #c0eaff 50%, #d977cc 100%),
    #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* font-size: inherit; */
  /* font-weight: inherit; */
}

@media screen and (min-width: 1101px) {
  * {
    font-size: 12pt;
  }

  .logo {
    font-weight: 700;
  }

  h1 {
    font-size: 40pt;
  }

  h2 {
    font-size: 24pt;
  }

  h3 {
    font-size: 16pt;
  }

  h1,
  h2,
  h3 {
    text-align: center;
    letter-spacing: -0.02em;
  }
}

@media screen and (max-width: 1100px) {
  * {
    font-size: 11pt;
  }

  h1 {
    font-size: 32pt;
    font-weight: 650;
  }

  h2 {
    font-size: 24pt;
    font-weight: 650;
  }

  h3 {
    font-size: 16pt;
  }

  h1,
  h2,
  h3 {
    text-align: center;
    letter-spacing: -0.02em;
  }
}
